* {
  margin: 0;
  padding: 0;
}

/* ------------------ ESTILIZANDO O HTML 1 - INDEX ------------------*/
#body1 {
  width: 100vh;
  height: 100vh;
  background-image: url("./assets/backmenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bttStart {
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  font-family: "Lobster", cursive;
  color: whitesmoke;
  font-size: 200px;
  border: none;
  cursor: pointer;
}

#bttStart:hover {
  color: red;
}

/* ------------------ ESTILIZANDO O HTML 2 ------------------*/
#body2 {
  font-family: "Lobster", cursive;
  font-size: 16px;
  background-image: url("./assets/cassino.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-shadow: 4px 4px 4px black;
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  opacity: 80%;
}

h1 {
  text-align: center;
  margin: 40px 0px;
  font-size: 7rem;
  color: red;
}

.torres {
  width: 18%;
  height: 450px;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 3px outset;
  border: 4px groove;
  border-radius: 10%;
  cursor: pointer;
  background-color: whitesmoke;
}

#disco1 {
  width: 95%;
}

#disco2 {
  width: 80%;
}

#disco3 {
  width: 60%;
}

#disco4 {
  width: 40%;
}

.discos {
  height: 80px;
  margin: 0 auto;
  border-radius: 15%;
  border-style: outset;
  background-color: red;
}

#disco1:hover,
#disco2:hover,
#disco3:hover,
#disco4:hover {
  background-color: rgb(241, 70, 70);
}

.torres:hover {
  background-color: whitesmoke;
}

#resposta {
  text-align: center;
  font-size: 10rem;
  margin: 40px 0px;
  color: white;
}

#informacoes {
  margin: 0 auto;
  font-size: 2rem;
  background-color: white;
  width: fit-content;
}