* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
section {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
  margin: 40px 0px;
  font-size: 3rem;
}

.torres {
  border: 2px solid black;
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}

#disco1 {
  width: 100%;
  background-color: green;
}

#disco2 {
  width: 85%;
  background-color: blue;
}

#disco3 {
  width: 65%;
  background-color: red;
}

#disco4 {
  width: 45%;
  background-color: yellow;
}

.discos {
  height: 60px;
  margin: 0 auto;
}

#resposta {
  text-align: center;
  font-size: 10rem;
  margin: 40px 0px;
}